# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kronoson.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\NateDawg\Documents\Unity Projects\GitHub\Kronoson\Kronoson\.idea\.idea.Kronoson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
