# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Audioklytos.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\NateDawg\Documents\Unity Projects\GitHub\Audioklytos\Audioklytos\.idea\.idea.Audioklytos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
